<ul>
  <li>
    <a
      [routerLink]="['/']"
      [class.active]="sectionInput === 'shop'"
      (click)="onChangeSection('shop')"
      >Shop</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/inventory']"
      [class.active]="sectionInput === 'inventory'"
      (click)="onChangeSection('inventory')"
      >Inventory</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/recipe-book']"
      [class.active]="sectionInput === 'recipe-book'"
      (click)="onChangeSection('recipe-book')"
      >Recipe Book</a
    >
  </li>
</ul>
