<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header [sectionInput]="section"></app-header>
      <section class="main-section">
        <app-shop-list
          (onSelectedIngredientEE)="onSelectedIngredient($event)"
          [ingredients]="allIngredients"
          *ngIf="section === 'shop'"
        ></app-shop-list>
        <app-my-ingredients
          [myIngredients]="myIngredients"
          *ngIf="section === 'inventory'"
        ></app-my-ingredients>
        <app-recipe-list
          [myRecipes]="myRecipes"
          *ngIf="section === 'recipe-book'"
        ></app-recipe-list>
      </section>
    </div>
  </div>
</div>
